/* header*/
body {
    margin: 25px;
    padding: 25px;
}



.head {
    height: 20vh;
    padding-right: 25px;
    background-image: url('img5.png');
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 45%;
}

.logo {
    float: left;
}


.mainpart {
    display: flex;
    justify-content: space-between;

}

.list {
    display: flex;
    align-items: center;

}

nav>ul>li {
    display: flex;
    margin-right: 15px;
    margin-top: 15px;



}

nav>ul>button {
    margin-right: 15px;
    margin-top: 15px;
    padding: 5px;
    border-radius: 5px;
    background-color: rgb(241, 225, 205);
}

nav li>a {
    text-decoration: none;
    color: rgb(27, 5, 5);
}

.image {
    height: 15px;
}

.selction {
    display: flex;
    margin-top: 15px;
    text-decoration: none;

    align-items: center;

}


.herotext>.text1 {
    color: chocolate;
}

.herotext>.text2 {
    font-weight: 700;
    font-size: 60px;
    color: rgb(34, 32, 32);
}

.herotext>p {
    color: rgb(70, 69, 69);
    padding: 0
}

.more {
    padding: 15px;
    border-radius: 7px;
    background-color: rgb(224, 185, 55);
    color: aliceblue;

    border-color: rgb(224, 185, 55);

}

.more1 {
    display: none;
}

.vedioicon {
    width: 35px;
    border-radius: 15px;
    background-color: rgb(238, 114, 68)
}


.text4 {
    color: gray;
}

.videopart {
    display: flex;
    gap: 15px;
}

.moreinfo {
    display: flex;
    gap: 25px;
}

.herotext {
    margin: 5%;
    padding-top: 5%;

}

/* 2nd */

/*infocard  */

.cardportion {
    margin-left: 15%;
    margin-right: 15%;
}

.cardportion>.textinfo {
    margin: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2px;

}


.cardportion>.infocard>.cardtext {
    display: flex;
    flex-direction: column;
    justify-content: center;

    background-color: white;
    padding: 25px;


}

.cardportion>.infocard>.cardtext>h4,
p {
    padding-right: 15px;
}

.cardportion>.infocard>.cardtext2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 5px solid rgb(255, 253, 253);
    background-color: rgb(255, 255, 255);
    padding: 55px;
    gap: 2px;
    opacity: 25;
    border-radius: 35px;
    box-shadow: 0px 4px 16px 0px rgb(252, 239, 239);
}

.cardportion>.infocard {
    display: flex;
    justify-content: space-between;
    margin-bottom: 75px;
}

/* 3rd */



.amount {
    padding: 25px;
}

.image {
    width: 14px;


}

.pic {
    width: 215px;
    border-radius: 14px 14px 0 0;

}

.imagecard {
    display: flex;
    justify-content: space-between;
}

.imagecard>.cardtext {
    border: 5px solid rgb(228, 224, 224);
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 4px 16px 0px rgb(196, 195, 195);
    border-radius: 35px;

}


.imagecard>.cardtext>h4,
p {
    padding-left: 35px;
}

/* 4th */
.steps-section {
    max-width: 800px;
    margin-top: 65px;
    margin: auto;
    padding: 40px;
    display: flex;
    justify-content: space-between;
    padding-top: 25px;
}

.steps-section>.subtitle {
    color: gray;
    font-size: 14px;
}

.steps-section>.title {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 30px;
}

.steps-section>.steps {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.steps-section>.sectionstep>.steps>.step {
    display: flex;
    gap: 15px;
}

.icon {
    width: 50px;
    height: 50px;
    border-radius: 12px;
}


.content h3 {
    margin: 0;
    font-size: 18px;
}

.steps-section>.sectionstep>.steps>.step>.content>p {
    margin: 0px;
    color: #555;
    font-size: 14px;
    padding-left: 0;
}


/* 5th */

.testimonial {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-left: 280px auto;
    width: 75%;
    padding-left: 55px;
    font-family: 'Poppins', sans-serif;
    gap: 50px;
    background: #fff;
    border-radius: 10px;

}

.testimonial>.content {
    width: 63%;
    margin-left: 235px;
}

.testimonial>.content>.subtitle {
    color: #5E6282;
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 1px;
}

.testimonial>.content>.title {
    font-size: 44px;
    color: #14183E;
    margin: 15px 0 40px;
    line-height: 1.2;
}


.testimonial>.slider>.front-card>.cardtext {
    display: flex;
}



.front-card {

    box-shadow: 0 40px 80px rgba(0, 0, 0, 0.05);
    padding: 33px;
}

.location {
    color: #5E6282;
    font-size: 13px;
    margin: 5px 0 0;
}

/* 6th */
.applogo {
    margin-left: 15%;
    padding-top: 5%;
    display: flex;
    width: 55%;
    justify-content: space-between;
    align-items: center;
}

/* 7th */
.subscribe-section {
    padding-top: 55px;
    padding-bottom: 55px;
    display: flex;
    justify-content: center;
    margin-top: 55px;


    background-image: url('back.png');

    background-repeat: no-repeat;
    background-size: 80%;

    background-position: center;

    background-color: #fff;
}

.subscribe-title {
    color: #5e6282;
    font-size: 22px;
    font-weight: 700;
    line-height: 1.5;
    margin: 0px;


}

.input-group {
    background: #fff;
    padding: 15px 25px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 420px;
}

.input-group input {
    border: none;
    outline: none;
    font-size: 16px;
    width: 100%;
}

.subscribe-btn {
    background: #ff7d68 100%;
    color: white;
    border: none;
    padding: 15px 45px;
    border-radius: 10px;
    font-size: 13px;
    cursor: pointer;

}

.subscribe-form {
    display: flex;
    align-items: center;

    gap: 15px;

    width: 100%;
    max-width: 600px;

}

/* 8th */
.footer-container {
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
}

.footer-logo {
    font-size: 40px;
    color: #181E4B;
    margin-top: 15px;
}

.tagline {
    color: #5E6282;
    font-size: 13px;
    line-height: 1.6;
    max-width: 200px;
    padding-left: 0px;
}

.footer-text {
    color: #5E6282;
    font-size: 18px;
    padding-left: 0px;
}


/* last */
.lastsection {
    height: 100%;
    background-image: url('images/footerback.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 5%
}

.logo1 {
    min-height: 30vh;
}

.textpart {

    padding-left: 9%;
}


.lastsection>.textpart>.text2,
.text3 {
    color: rgb(239, 245, 250);

}



.lastsection>.textpart>.text2 {
    font-size: 45px;
    padding-left: 6%;

}

.lastsection>.textpart>.text3 {
    font-size: 35px;
    padding-left: 7%;
    padding-top: 2%;

}

.card {
    display: flex;
    gap: 7%;
    color: aliceblue;
    margin-left: 15%;
    margin-right: 9%;
}

span {
    padding-left: 6%;
}

.box {
    padding: 5%;
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.2);

    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(10px);

    color: white;
    text-align: center;
    font-size: 35px;
    width: 250px;
}

.box1 {
    padding: 5%;
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.2);

    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(10px);

    color: white;
    text-align: center;

    width: 35%;

    font-size: 35px;
    margin-left: 31%;
}

.message {
    color: aliceblue;
    margin-left: 37%;
    padding-top: 5%;
    font-size: 29px;
}

.price {
    display: flex;
    color: aliceblue;
    gap: 5%;
    margin-left: 29%;
    font-size: 25px;

}

.footer {

    color: aliceblue;
    margin-left: 39%;
    padding-bottom: 9%;
    width: 44%;
}

/*  MOBILE (max 600px) */

@media (max-width: 600px) {

    body {
        margin: 0;
    }

    .head {
        width: 100%;
        min-height: 250px;
        height: 20vh;
        /* responsive height */
        background-image: url('img5.png');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }


    .herotext>.text2 {
        font-size: 21px;
    }

    .text3 {
        font-size: 12px;

    }

    .herotext {
        width: 37%;
    }

    .more {
        display: none;
    }

    .more1 {
        display: block;

        border-radius: 7px;
        background-color: rgb(224, 185, 55);
        color: aliceblue;

        border-color: rgb(224, 185, 55);
    }

    .videopart {

        align-items: flex-start;
        display: flex;
        align-items: center;
        width: 15%;
    }

    nav {
        display: none;
    }

    /* 2nd */


    .cardportion>.textinfo>h1 {
        margin-left: 32px;
        font-size: 22px;

    }

    .cardportion>.infocard {
        display: flex;
        flex-wrap: wrap;

    }


    .infocard>.cardtext>img {
        width: 15vh;
        margin-left: 10px;
    }


    .infocard>.cardtext2>img {
        width: 15vh;
    }

    .infocard>.cardtext>h4,
    p {
        margin: 2px;
        padding: 0;

    }



    /* 3rd */
    .cardportion>.imagecard {
        display: flex;
        flex-wrap: wrap;
    }

    .cardportion>.imagecard>.cardtext>p {
        padding-left: 25px;
        padding-bottom: 5px;
    }

    /* 4th */
    .steps-section {
        display: flex;
        flex-wrap: wrap;
    }

    /* 5th */
    .testimonial {
        display: flex;
        flex-wrap: wrap;
    }

    .testimonial>.content {
        width: 100%;
        margin-left: 15px;

    }

    .testimonial>.content>.title {
        font-size: 34px;

    }

    /* 6th */
    .applogo {
        margin-left: 5%;

    }

    /* 7th */

    .subscribe-title {
        font-size: 12px;
    }

    .input-group input {
        font-size: 11px;
        width: 50%;
    }

    .input-group {
        padding: 8px 15px;

    }

    .subscribe-btn {
        padding: 2px 25px;
        border-radius: 10px;
        font-size: 8px;


    }

    /* 8th */
    .footer-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }



    /*last*/

    .lastsection {

        width: 100%;
        min-height: 60vh;
        /* better for mobile */
        padding-top: 20px;
        margin-top: 35px;
    }

    .textpart>.logo1 {
        width: 80%;
        height: 50%;


    }

    .lastsection>.textpart>.text2 {
        font-size: 15px;



    }


    .lastsection>.textpart>.text3 {
        font-size: 13px;

    }

    .card {
        flex-direction: column;
        align-items: center;

    }

    .box,
    .box1 {
        width: 70%;
        font-size: 22px;
    }

    .box1 {
        margin-left: 12%;
        font-size: 18px;

    }

    .message {
        margin-left: 0;
        font-size: 18px;
        text-align: center;
    }

    .price {
        flex-direction: column;
        align-items: center;
        margin-left: 0;
        font-size: 12px;
    }

    .footer {

        margin-left: 0;
        text-align: center;
    }

}



@media (min-width: 601px) and (max-width: 1024px) {

    .head {
        height: 30vh;
        /* medium height */
    }

    .text2 {
        font-size: 40px;

    }

    .herotext {
        margin: 4%;
        padding-top: 4%;
    }

    /*5thd */
    .testimonial {
        display: flex;
        flex-wrap: wrap;
    }

    .testimonial>.content {
        width: 100%;
        margin-left: 15px;

    }

    .testimonial>.content>.title {
        font-size: 34px;

    }



    /* last */
    .lastsection {

        width: 100%;
        min-height: 50vh;

    }

    .textpart>.logo1 {
        width: 80%;
        height: 50%;


    }

    .lastsection>.textpart>.text2 {
        font-size: 25px;



    }

    .lastsection>.textpart>.text3 {
        font-size: 18px;

    }

    .box,
    .box1 {
        width: 50%;
        font-size: 22px;
    }

    .box1 {
        margin-left: 15%;
        font-size: 18px;

    }

    .message {

        font-size: 18px;
        margin-left: 115px;

    }

    .price {
        flex-direction: row;
        align-items: center;
        margin-left: 115px;
        font-size: 12px;
    }

}